.gitignore
Lets_build_a_room_sensor/.DS_Store
Lets_build_a_room_sensor/Part 6/
Lets_build_a_room_sensor/Part 7/
Lets_build_a_room_sensor/Part 8/
Lets_build_a_room_sensor/Part 9/
Lets_build_a_room_sensor/Part 10/
Lets_build_a_weather_station/
Coding_Practices_Tips_and_Tricks/4_adding_sensors